.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

html {
  height: 100%;
}

body {
  font-family: var(--main-font);
  min-height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  opacity: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

ul,
ol {
  margin: 0px;
  padding-left: 0px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-65 {
  margin-bottom: 65px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mt-65 {
  margin-top: 65px;
}

.mt-40 {
  margin-top: 40px;
}

.p-32 {
  padding: 32px;
}

:root {
  --bs-body-font-size: 14px;
  --primary-header-color: #303030;
  --second-header-color: #ffffff;
  --primary-link-color: #ffffff;
  --input-green: #2c8e30;
  --bs-link-hover-color: #2c8e30;
  --green: #39a935;
  --green-50: #9cd49a;
  --green-20: rgba(57, 169, 53, 0.2);
  --bs-body-color: #19202b;
  --dark-navy: #010418;
  --black-50: #868b91;
  --black-10: #e8e9ea;
  --black-1: #f9f9f9;
  --bs-table-striped-color: #e8e9ea;
  --bs-table-striped-color: #19202b;
  --main-font: "Inter", "Roboto", sans-serif;
  --main-margin: 20px;
}

.fs-16 {
  font-size: 16px;
}

body:not(.login-page):not(.sign-up-page) .container-fluid {
  padding: 0px;
}

.social-buttons {
  min-width: 137px;
  height: 40px;
  background: #f6f6f7;
  font-weight: 700;
  font-size: 16px;
  border: 0px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  transition: all 500ms linear;
}
.social-buttons:hover {
  background: #ccc;
}

.button-green {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 16px;
  height: 40px;
  background-color: var(--green);
  border-radius: 32px;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  transition: all 500ms linear;
  border: 0px;
  text-decoration: none;
}
.button-green:disabled, .button-green[disabled] {
  background-color: var(--green-20) !important;
  color: var(--green-50) !important;
  border: 0px;
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}
.button-green:hover {
  background-color: #319b2d;
  color: #ffffff;
  border: 0px;
}
.button-green:active {
  background-color: #117d0e;
  color: #ffffff;
  border: 0px;
}
.button-green svg {
  fill: currentColor;
}

.button-secondary {
  padding: 0 24px;
  height: 40px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: var(--black-10);
  border-radius: 32px;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black);
  transition: all 500ms linear;
  border: 0px;
  text-decoration: none;
}
.button-secondary:disabled, .button-secondary[disabled] {
  background-color: #f6f6f7 !important;
  color: #b2b7ba !important;
  border: 0px;
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}
.button-secondary:hover {
  background-color: #dcdcdc;
  color: var(--black);
  border: 0px;
}
.button-secondary:active {
  background-color: #c7c7c7;
  color: var(--black);
  border: 0px;
}

.btn-group.btn-row {
  background: #f9f9f9;
  border-radius: 30px;
  padding: 4px;
  display: flex;
}
@media screen and (min-width: 1500px) {
  .btn-group.btn-row {
    gap: 16px;
  }
}
.btn-group.btn-row .btn {
  height: 30px;
  background: transparent;
  border-radius: 23px !important;
  border: 0px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #868b91;
  font-size: 14px;
  transition: all 500ms linear;
}
@media screen and (min-width: 1500px) {
  .btn-group.btn-row .btn {
    min-width: 74px;
  }
}
.btn-group.btn-row .btn:disabled, .btn-group.btn-row .btn[disabled] {
  background-color: var(--green-20) !important;
  color: var(--green-50) !important;
  border: 0px;
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}
.btn-group.btn-row .btn:hover, .btn-group.btn-row .btn.active {
  background-color: #36c233;
  color: #ffffff;
  border: 0px;
}
.btn-group.btn-row .btn.active {
  font-weight: 700;
}
.btn-group.btn-row .btn:active {
  background-color: #117d0e;
  color: #ffffff;
  border: 0px;
}

input.form-control.default,
div.form-control.default .dropdown-toggle {
  height: 40px;
  display: flex;
  align-items: center;
  background: var(--black-1);
  border: 1px solid var(--green-20);
  border-radius: 4px;
  color: var(--input-green);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3571428571;
}
input.form-control.default:hover, input.form-control.default:focus,
div.form-control.default .dropdown-toggle:hover,
div.form-control.default .dropdown-toggle:focus {
  border: 1px solid var(--green);
  outline: transparent !important;
}
input.form-control.default.text-code,
div.form-control.default .dropdown-toggle.text-code {
  height: 84px;
  width: 84px;
  font-weight: 400;
  font-size: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media screen and (max-width: 480px) {
  input.form-control.default,
div.form-control.default .dropdown-toggle {
    font-size: 16px;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=password]:-moz-placeholder-shown + span svg {
  stroke: transparent;
}

input[type=password]:-ms-input-placeholder + span svg {
  stroke: transparent;
}

input[type=password]:placeholder-shown + span svg {
  stroke: transparent;
}

.toggle-password .icon-Eye-off {
  stroke: transparent;
}
.toggle-password.eye-slash .icon-Eye-off {
  fill: var(--input-green);
  stroke: transparent;
}
.toggle-password.eye-slash .icon-Eye {
  stroke: transparent;
}
.toggle-password svg {
  stroke: var(--input-green);
  fill: transparent;
  transition: all 300ms linear;
  display: flex;
  position: absolute;
  right: 17px;
  top: 50%;
  transform: translateY(-50%);
}

.dropdown-toggle::after {
  width: 11px;
  height: 6.5px;
  border: 0px !important;
  background-size: contain;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M6 6.95C5.86667 6.95 5.74167 6.929 5.625 6.887C5.50833 6.84567 5.4 6.775 5.3 6.675L0.675001 2.05C0.491668 1.86667 0.404335 1.63733 0.413001 1.362C0.421001 1.08733 0.516668 0.858333 0.700001 0.674999C0.883334 0.491666 1.11667 0.399999 1.4 0.399999C1.68333 0.399999 1.91667 0.491666 2.1 0.674999L6 4.575L9.925 0.649999C10.1083 0.466665 10.3377 0.378999 10.613 0.386999C10.8877 0.395666 11.1167 0.491666 11.3 0.674999C11.4833 0.858333 11.575 1.09167 11.575 1.375C11.575 1.65833 11.4833 1.89167 11.3 2.075L6.7 6.675C6.6 6.775 6.49167 6.84567 6.375 6.887C6.25833 6.929 6.13333 6.95 6 6.95Z' fill='%239BCE89'/%3e%3c/svg%3e ");
  transition: all 500ms;
}

div.form-control.default .dropdown-toggle:hover::after, div.form-control.default .dropdown-toggle:focus::after {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M6 6.95C5.86667 6.95 5.74167 6.929 5.625 6.887C5.50833 6.84567 5.4 6.775 5.3 6.675L0.675001 2.05C0.491668 1.86667 0.404335 1.63733 0.413001 1.362C0.421001 1.08733 0.516668 0.858333 0.700001 0.674999C0.883334 0.491666 1.11667 0.399999 1.4 0.399999C1.68333 0.399999 1.91667 0.491666 2.1 0.674999L6 4.575L9.925 0.649999C10.1083 0.466665 10.3377 0.378999 10.613 0.386999C10.8877 0.395666 11.1167 0.491666 11.3 0.674999C11.4833 0.858333 11.575 1.09167 11.575 1.375C11.575 1.65833 11.4833 1.89167 11.3 2.075L6.7 6.675C6.6 6.775 6.49167 6.84567 6.375 6.887C6.25833 6.929 6.13333 6.95 6 6.95Z' fill='%232C8E30'/%3e%3c/svg%3e ");
}

.base-search {
  background: #ffffff;
  border: 0px solid;
  border-bottom: 1px solid #e8e9ea;
  height: 38px;
  color: #b2b7ba;
  font-size: 16px;
  transition: all 500ms linear;
  padding-left: 44px;
}
.base-search + span svg {
  fill: #b2b7ba;
}
.base-search::-moz-placeholder {
  color: #b2b7ba;
}
.base-search:-ms-input-placeholder {
  color: #b2b7ba;
}
.base-search::placeholder {
  color: #b2b7ba;
}
.base-search:hover, .base-search:focus, .base-search:active {
  color: var(--green);
  border-bottom: 1px solid var(--green);
  outline: transparent !important;
}
.base-search:hover + span svg, .base-search:focus + span svg, .base-search:active + span svg {
  fill: var(--green);
}

.search-wrap {
  position: relative;
}
.search-wrap span {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
}

.float-right.search.btn-group {
  display: none;
}

.base-link,
.base-link:link {
  font-size: 16px;
  line-height: 1.57;
  color: var(--black-50);
  font-weight: 300;
  padding: 0px;
}
.base-link.dark,
.base-link:link.dark {
  color: var(--bs-body-color);
}
.base-link:hover,
.base-link:link:hover {
  color: var(--bs-link-hover-color);
}

aside.asidebar {
  width: 217px;
  background: linear-gradient(184.91deg, #39c935 36.03%, #003408 203.94%);
  padding: 47px 0 27px 24px;
}
@media screen and (max-width: 992px) {
  aside.asidebar {
    z-index: 10;
    position: fixed !important;
    background: #003408;
    width: 100%;
    top: 33px;
    max-height: 100vh;
    max-height: calc(var(--vh, 1vh) * 100 - 33);
    padding: 47px 0 27px 0px !important;
  }
}
@media screen and (min-width: 992px) {
  aside.asidebar {
    height: 100vh;
  }
}
aside.asidebar:before, aside.asidebar:after {
  content: "";
  position: absolute;
  background-color: transparent;
  top: 0px;
  left: 217px;
  height: 80px;
  width: 40px;
  border-top-left-radius: 40px;
  box-shadow: 0 -40px 0 0 #39c935;
}
@media screen and (max-width: 992px) {
  aside.asidebar:before, aside.asidebar:after {
    content: none;
  }
}
aside.asidebar:after {
  top: auto;
  bottom: 0px;
  box-shadow: 0 -40px 0 0 #269626;
  transform: rotateX(-180deg);
}
aside.asidebar .icon-logo-white {
  fill: #ffffff;
}
aside.asidebar ul.navflex-column {
  margin-top: 77px;
}
@media screen and (max-width: 992px) {
  aside.asidebar ul.navflex-column {
    padding-left: 24px;
    margin-bottom: 40px !important;
  }
}
aside.asidebar ul.navflex-column .nav-item {
  min-height: 46px;
  display: flex;
  align-items: stretch;
  padding-left: 25px;
}
aside.asidebar ul.navflex-column .nav-item.active {
  color: #f3f7f7;
  background: #f3f7f7;
  border-radius: 25px 0 0 25px;
  position: relative;
}
aside.asidebar ul.navflex-column .nav-item.active:before, aside.asidebar ul.navflex-column .nav-item.active:after {
  content: "";
  position: absolute;
  background-color: transparent;
  bottom: -36px;
  right: 0px;
  height: 36px;
  width: 18px;
  border-top-right-radius: 18px;
  box-shadow: 0 -18px 0 0 currentColor;
}
aside.asidebar ul.navflex-column .nav-item.active:before {
  transform: rotateX(-180deg);
  top: -36px;
}
aside.asidebar ul.navflex-column .nav-item.active a {
  font-weight: 700;
  color: var(--bs-body-color);
}
aside.asidebar ul.navflex-column a {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #ffffff;
  display: flex;
  align-items: center;
  width: 100%;
}
aside.asidebar ul.navflex-column a svg {
  fill: currentColor;
}

.user-panel > .image > .box {
  position: relative;
  overflow: hidden;
  width: 40px;
  height: 40px;
  transition: all 0.5s linear;
  float: left;
  flex-shrink: 0;
}
.user-panel > .image > .box > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 43px;
  height: 43px;
  -o-object-fit: cover;
  object-fit: cover;
  transition: all 0.5s linear;
}

.user-panel > .image h6.long {
  padding-left: 13px;
  width: calc(100% - 40px);
  justify-content: space-between;
  font-weight: 700;
  line-height: 100%;
  gap: 8px;
}
.user-panel > .image h6.long a {
  font-size: 14px;
  font-weight: 400;
}

.user-panel {
  width: 100%;
}
@media screen and (max-width: 992px) {
  .user-panel {
    padding-left: 40px;
  }
}

.animated-hamburger {
  width: 20px !important;
  height: 14px !important;
  position: relative !important;
  margin: 0px !important;
  transform: rotate(0deg) !important;
  transition: 0.5s ease-in-out !important;
  cursor: pointer !important;
}

.animated-hamburger span {
  display: block !important;
  position: absolute !important;
  height: 1.4px !important;
  width: 100% !important;
  border-radius: 9px !important;
  opacity: 1 !important;
  left: 0 !important;
  transform: rotate(0deg) !important;
  transition: 0.25s ease-in-out !important;
}

.animated-hamburger span {
  background: #000 !important;
}

.animated-hamburger span:nth-child(1) {
  top: 0px !important;
  transform-origin: left center !important;
}

.animated-hamburger span:nth-child(2) {
  top: 4.9px !important;
  transform-origin: left center !important;
}

.animated-hamburger span:nth-child(3) {
  top: 9.7px !important;
  transform-origin: left center !important;
}

.animated-hamburger.open span:nth-child(1) {
  transform: rotate(45deg) !important;
  top: 0px !important;
  left: 0px !important;
}

.animated-hamburger.open span:nth-child(2),
.animated-hamburger.open span:nth-child(4) {
  width: 0% !important;
  opacity: 0 !important;
}

.animated-hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) !important;
  top: 14px !important;
  left: 0px !important;
}

.bootstrap-table .fixed-table-container .table.striped-table th:first-child > div,
.bootstrap-table .fixed-table-container .table.striped-table td:first-child {
  padding-left: 24px;
}

.fixed-table-container .table.striped-table th > div {
  padding-bottom: 8px;
}

.classic.striped-table.table.table-striped th div {
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  color: #b2b7ba;
}

.bootstrap-table .fixed-table-container.fixed-height .table.striped-table thead th,
.bootstrap-table .fixed-table-container.fixed-height:not(.has-footer) {
  border-bottom: 0px solid transparent;
}

.bootstrap-table {
  padding: 0px;
}

body.sign-up-page,
body.login-page {
  position: relative;
}
body.sign-up-page .right-content,
body.login-page .right-content {
  width: calc(50% + 37px);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px 0 0 50px;
  min-width: 600px;
}
@media screen and (max-width: 768px) {
  body.sign-up-page .right-content,
body.login-page .right-content {
    width: 90%;
    margin: 20px auto;
    border-radius: 50px;
    min-width: unset;
  }
}
@media screen and (max-width: 480px) {
  body.sign-up-page .right-content,
body.login-page .right-content {
    width: 100%;
    border-radius: 0px;
    padding: 0px;
    box-shadow: unset;
    margin: 0px;
  }
}

.sign-up-block,
.login-block {
  padding: 15px;
  width: 450px;
  margin-top: 20px;
}
@media screen and (min-height: 900px) {
  .sign-up-block,
.login-block {
    margin-top: 15%;
  }
}

.login-background {
  position: absolute;
  height: 100%;
  left: 0px;
  top: 0px;
  padding: 0px;
  z-index: -1;
  overflow: hidden;
  width: calc(50% + 37px);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .login-background {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .login-background {
    display: none;
  }
}

.login-background img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

.ellipse {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  cursor: default;
}
.ellipse a {
  position: relative;
  display: block;
  float: left;
  margin: 0 4px;
  width: 37px;
  height: 8px;
  cursor: pointer;
}
.ellipse a span {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: none;
  border-radius: 8px;
  text-indent: -999em;
  cursor: pointer;
  position: absolute;
  overflow: hidden;
  background-color: transparent;
  box-shadow: inset 0 0 0 2px #f6f6f7;
  background-color: #f6f6f7;
  transition: all 0.3s ease;
  transform: scale3d(1, 1, 1);
}
.ellipse a span:after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 100%;
  left: 0;
  width: 100%;
  background-color: var(--green-50);
  box-shadow: 0 0 1px var(--green-50);
  transition: height 0.3s ease;
}
.ellipse a.active ~ .nav-item.nav-link span:after {
  height: 0%;
}

.signup .title {
  color: var(--black-50);
  border-bottom: 1px solid var(--black-10);
  line-height: 0.1em;
  height: 20px;
}
.signup .title span {
  bottom: -50%;
  position: relative;
  transform: translateY(50%);
  display: inline-block;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 16px;
}

.button-login {
  min-width: 136px;
}

.verification-text {
  max-width: 385px;
}

.drop-area {
  cursor: pointer;
  width: 100%;
  height: 106px;
  background: #f9f9f9;
  border: 1px dashed var(--input-green);
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 500ms;
}
.drop-area.highlight {
  background: var(--green-20);
}
.drop-area.full > span:first-child {
  display: none;
}
.drop-area span {
  max-width: 240px;
  font-size: 16px;
  color: var(--black-50);
}
.drop-area span.limit {
  font-size: 12px;
}
.drop-area span svg {
  fill: currentColor;
  display: block;
  margin: 0 auto;
}
.drop-area #fileElem {
  display: none;
}
.drop-area #gallery {
  display: block;
  max-height: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  height: 940px;
}
.drop-area #gallery img {
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 100%;
  max-width: 100%;
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

.remember-check {
  width: 18px;
  height: 18px;
  background: #f6f6f7;
  border: 1px solid rgba(57, 169, 53, 0.2);
  border-radius: 4px;
  margin-right: 10px;
  cursor: pointer;
}
.remember-check svg {
  fill: transparent;
}

#remember:checked + label > span {
  border: none;
  background-color: var(--input-green);
}

#remember:checked + label > span svg {
  fill: #fff;
}

.reset-pass {
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
}

main {
  background-color: #f3f7f7;
  padding: 32px;
}

.block-main {
  box-shadow: 0px 4px 4px #e6f2f2;
  border-radius: 24px;
  overflow: hidden;
}
.block-main:not(.p-0) {
  padding: 32px;
}

.block-more-half {
  min-width: calc(58.33333333% - 16px);
}

.main-info .price {
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  display: flex;
  align-items: center;
  color: var(--bs-body-color);
}
.main-info .statistic-price {
  font-weight: 700;
  font-size: 16px;
}

.statistic-price {
  line-height: 100%;
}
.statistic-price svg {
  fill: currentColor;
}
.statistic-price.statistic-decrease {
  color: #ee2e73;
}
.statistic-price.statistic-increase {
  color: #39a935;
}

.border-left-before {
  border-left: 3px solid #f3f7f7;
}
@media screen and (max-width: 992px) {
  .border-left-before {
    border-left: 0px solid #f3f7f7;
    border-top: 3px solid #f3f7f7;
  }
}

@supports selector(p:has(a)) {
  .block-main:has(.border-left-before) {
    padding: 0px !important;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .block-main:has(.border-left-before) > *:not(.p-0) {
    padding: 32px !important;
  }
}
@supports not selector(p:has(a)) {
  .border-left-before {
    border-left: 3px solid #f3f7f7;
  }
  .border-left-before {
    margin-top: -32px;
    margin-bottom: -32px;
    padding: 32px !important;
    padding-right: 0px !important;
  }
  .block-main > div:first-child:nth-last-child(2) {
    padding-right: 32px !important;
  }
}
.mh-75vh {
  max-height: 75vh;
  min-height: 600px;
}
@media screen and (max-width: 992px) {
  .mh-75vh {
    max-height: unset;
    min-height: unset;
  }
  .mh-75vh .block-main {
    height: 400px !important;
  }
  .mh-75vh .h-100 {
    height: unset !important;
  }
}

.empty-dash > .col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.empty-dash {
  flex-direction: column;
}/*# sourceMappingURL=main.css.map */