.social-buttons {
  min-width: 137px;
  height: 40px;
  background: #f6f6f7;
  font-weight: 700;
  font-size: 16px;
  border: 0px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  transition: all 500ms linear;
  &:hover {
    background: #ccc;
  }
}

.button-green,
.picker__button--close:first-child:last-child {
  width: fit-content;
  padding: 16px;
  height: 40px;
  background-color: var(--green);
  border-radius: 32px;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  transition: all 500ms linear;
  border: 0px;
  text-decoration: none;

  &.green-50 {
    background-color: var(--green-50) !important;
    color: #fff !important;
  }
  &:disabled,
  &[disabled],
  &.disabled {
    background-color: var(--green-20) !important;
    color: var(--green-50) !important;
    border: 0px;
    pointer-events: none;
    cursor: default;
    text-decoration: none;
  }
  &:hover {
    background-color: #319b2d;
    color: #ffffff;
    border: 0px;
  }
  &:active {
    background-color: #117d0e;
    color: #ffffff;
    border: 0px;
  }
  svg {
    fill: currentColor;
  }
  &.btn-number {
    width: 40px;
    padding: 0px;
  }
}

.button-secondary {
  padding: 0 24px;
  height: 40px;
  width: fit-content;
  background-color: var(--black-10);
  border-radius: 32px;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black);
  transition: all 500ms linear;
  border: 0px;
  text-decoration: none;
  &:disabled,
  &[disabled] {
    background-color: #f6f6f7 !important;
    color: #b2b7ba !important;
    border: 0px;
    pointer-events: none;
    cursor: default;
    text-decoration: none;
  }
  &:hover {
    background-color: #dcdcdc;
    color: var(--black);
    border: 0px;
  }
  &:active {
    background-color: #c7c7c7;
    color: var(--black);
    border: 0px;
  }
}

.btn-group.btn-row {
  background: #f9f9f9;
  border-radius: 30px;
  padding: 4px;
  display: flex;
  @media screen and (min-width: 1500px) {
    gap: 16px;
  }
  .btn {
    height: 30px;
    background: transparent;
    border-radius: 23px !important;
    border: 0px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #868b91;
    font-size: 14px;
    transition: all 500ms linear;
    @media screen and (min-width: 1500px) {
      min-width: 74px;
    }
    &:disabled,
    &[disabled] {
      background-color: var(--green-20) !important;
      color: var(--green-50) !important;
      border: 0px;
      pointer-events: none;
      cursor: default;
      text-decoration: none;
    }
    &:hover,
    &.active {
      background-color: #36c233;
      color: #ffffff;
      border: 0px;
    }
    &.active {
      font-weight: 700;
    }
    &:active {
      background-color: #117d0e;
      color: #ffffff;
      border: 0px;
    }
  }
}

.status-button {
  padding: 4px 8px;
  height: 27px;
  border-radius: 20px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.58;
  width: fit-content;
  &.onsell {
    background: #d3f1f1;
    color: #5ad1d1;
  }
  &.pending {
    background: rgba(244, 207, 74, 0.2);
    color: #cdbe37;
  }
  &.approved {
    background: rgba(151, 234, 112, 0.2);
    color: #9bce89;
  }
  &.notapproved {
    background: rgba(255, 169, 164, 0.2);
    color: #ff9797;
  }
  @media screen and (max-width: 1200px) {
    min-width: 120px;
    text-align: center;
  }
  &.fs-16 {
    height: 40px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 16px;
    line-height: 1;
  }
  svg {
    fill: currentColor;
  }
}

.sell-table,
.buy-table {
  min-width: 77px;
  height: 32px;
  td > & {
    margin-right: 8px;
    margin-left: auto;
  }
  @media screen and (max-width: 1200px) {
    min-width: 100px;
  }
}

.btn-close {
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: 0.25em 0.25em;
  color: #000;
  background-size: 14px;
  &:focus {
    box-shadow: none;
  }
}

.label.btn {
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: #ffffff;
  text-decoration: none;
  padding: 0 6px;
  height: 24px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  min-width: 58px;
  &.sale {
    background: #3dcfcf;
  }
}
