#container-crop {
  background: #f9f9f9;
  border: 1px dashed #9cd49a;
  border-radius: 16px;
  padding: 16px 20px;
  position: relative;
  margin-bottom: 50px;
  height: 332px;
}
.cropme-slider {
  position: absolute;
  bottom: -65px;
  left: 0px;
}
