input.form-control.default,
div.form-control.default .dropdown-toggle {
  height: 40px;
  display: flex;
  align-items: center;
  background: var(--black-1);
  border: 1px solid var(--green-20);
  border-radius: 4px;
  color: var(--input-green);
  font-weight: 400;
  font-size: 14px;
  line-height: calc(19 / 14);
  &:hover,
  &:focus {
    border: 1px solid var(--green);
    outline: transparent !important;
  }
  &.text-code {
    height: 84px;
    width: 84px;
    font-weight: 400;
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  @media screen and (max-width: 480px) {
    font-size: 16px;
  }
  &.error {
    color: #ee2e73;
    background: rgba(255, 151, 151, 0.06);
    border: 1px solid #ee2e73;
  }
}
.error-message {
  color: #ee2e73;
  svg {
    fill: currentColor;
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}
input[type='password']:placeholder-shown + span svg {
  stroke: transparent;
}
.toggle-password {
  & .icon-Eye-off {
    stroke: transparent;
  }
  &.eye-slash .icon-Eye-off {
    fill: var(--input-green);
    stroke: transparent;
    // content: '';
    // width: 2px;
    // height: 25px;
    // background: #2c8e30;
    // display: block;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%) rotate(-45deg);
    // box-shadow: 0px 0 0 2px var(--black-1);
  }
  &.eye-slash .icon-Eye {
    stroke: transparent;
  }
  svg {
    stroke: var(--input-green);
    fill: transparent;
    transition: all 300ms linear;
    display: flex;
    position: absolute;
    right: 17px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.dropdown-toggle::after {
  width: 11px;
  height: 6.5px;
  border: 0px !important;
  background-size: contain;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M6 6.95C5.86667 6.95 5.74167 6.929 5.625 6.887C5.50833 6.84567 5.4 6.775 5.3 6.675L0.675001 2.05C0.491668 1.86667 0.404335 1.63733 0.413001 1.362C0.421001 1.08733 0.516668 0.858333 0.700001 0.674999C0.883334 0.491666 1.11667 0.399999 1.4 0.399999C1.68333 0.399999 1.91667 0.491666 2.1 0.674999L6 4.575L9.925 0.649999C10.1083 0.466665 10.3377 0.378999 10.613 0.386999C10.8877 0.395666 11.1167 0.491666 11.3 0.674999C11.4833 0.858333 11.575 1.09167 11.575 1.375C11.575 1.65833 11.4833 1.89167 11.3 2.075L6.7 6.675C6.6 6.775 6.49167 6.84567 6.375 6.887C6.25833 6.929 6.13333 6.95 6 6.95Z' fill='%239BCE89'/%3e%3c/svg%3e ");
  transition: all 500ms;
}

div.form-control.default .dropdown-toggle {
  &:hover,
  &:focus {
    &::after {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M6 6.95C5.86667 6.95 5.74167 6.929 5.625 6.887C5.50833 6.84567 5.4 6.775 5.3 6.675L0.675001 2.05C0.491668 1.86667 0.404335 1.63733 0.413001 1.362C0.421001 1.08733 0.516668 0.858333 0.700001 0.674999C0.883334 0.491666 1.11667 0.399999 1.4 0.399999C1.68333 0.399999 1.91667 0.491666 2.1 0.674999L6 4.575L9.925 0.649999C10.1083 0.466665 10.3377 0.378999 10.613 0.386999C10.8877 0.395666 11.1167 0.491666 11.3 0.674999C11.4833 0.858333 11.575 1.09167 11.575 1.375C11.575 1.65833 11.4833 1.89167 11.3 2.075L6.7 6.675C6.6 6.775 6.49167 6.84567 6.375 6.887C6.25833 6.929 6.13333 6.95 6 6.95Z' fill='%232C8E30'/%3e%3c/svg%3e ");
    }
  }
}

.base-search {
  background: #ffffff;
  border: 0px solid;
  border-bottom: 1px solid #e8e9ea;
  height: 38px;
  color: #b2b7ba;
  font-size: 16px;
  transition: all 500ms linear;
  padding-left: 44px;

  & + span svg {
    fill: #b2b7ba;
  }

  &::placeholder {
    color: #b2b7ba;
  }
  &:hover,
  &:focus,
  &:active {
    color: var(--green);
    border-bottom: 1px solid var(--green);
    outline: transparent !important;
    box-shadow: none;
    & + span svg {
      fill: var(--green);
    }
  }
}
.search-wrap,
.date-wrap,
.input-wrap {
  position: relative;
  height: fit-content;
  span {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
  }
}
.date-wrap,
.input-wrap {
  span {
    left: 8px;
  }
  input {
    padding-left: 32px;
    & ~ span svg {
      fill: #9bce89;
    }

    &:hover,
    &:focus,
    &:active {
      color: var(--green);
      & ~ span svg {
        fill: var(--green);
      }
    }
  }
}

.input-wrap {
  span {
    left: 18px;
  }
  input {
    padding-left: 48px;
  }
}
.float-right.search.btn-group {
  display: none;
}
#Expiration {
  width: 135px;
}
.w-66 {
  max-width: 66px;
}

.editable-input {
  border: 0px;
  padding: 0px;
  border-bottom: 1px solid transparent;
  &:focus {
    outline: transparent;
    border-bottom: 1px solid var(--black-50);
  }
}

// input range
input[type='range'] {
  height: 30px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type='range']:focus {
  outline: none;
}
input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #dcdcdc;
  border-radius: 5px;
  border: 0px solid #000000;
}
input[type='range']::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 24px;
  width: 24px;
  border-radius: 21px;
  background: #39a935;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}
input[type='range']:focus::-webkit-slider-runnable-track {
  background: #dcdcdc;
}
input[type='range']::-moz-range-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #dcdcdc;
  border-radius: 5px;
  border: 0px solid #000000;
}
input[type='range']::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 24px;
  width: 24px;
  border-radius: 21px;
  background: #39a935;
  cursor: pointer;
}
.form-range:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.25rem var(--green-20);
  background: var(--input-green);
}
.form-range:focus::-moz-range-thumb {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.25rem var(--green-20);
  background: var(--input-green);
}
input[type='range']::-ms-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type='range']::-ms-fill-lower {
  background: #dcdcdc;
  border: 0px solid #000000;
  border-radius: 10px;
  box-shadow: 0px 0px 0px #000000;
}
input[type='range']::-ms-fill-upper {
  background: #dcdcdc;
  border: 0px solid #000000;
  border-radius: 10px;
  box-shadow: 0px 0px 0px #000000;
}
input[type='range']::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 24px;
  width: 24px;
  border-radius: 21px;
  background: #39a935;
  cursor: pointer;
}
input[type='range']:focus::-ms-fill-lower {
  background: #dcdcdc;
}
input[type='range']:focus::-ms-fill-upper {
  background: #dcdcdc;
}
th .bootstrap-select > .dropdown-toggle {
  background: transparent !important;
  padding: 0px;
  border: 0px;
  outline: transparent !important;
  &:focus {
    outline: transparent !important;
  }
}
