@media (min-width: 992px) {
  .modal-lg {
    --bs-modal-width: 650px;
  }
  .modal-md {
    --bs-modal-width: 570px;
  }
}
.modal {
  --bs-modal-border-color: rgba(0, 0, 0, 0);
}

.modal .drop-area {
  border-radius: 16px;
  min-width: 100%;
}

.modal-dialog.modal-sm-date {
  max-width: 400px;
}
