.bootstrap-table .fixed-table-container .table.striped-table th:first-child > div,
.bootstrap-table .fixed-table-container .table.striped-table td:first-child {
  padding-left: 24px;
}
.fixed-table-container .table.striped-table th > div {
  padding-bottom: 8px;
}
.classic.striped-table.table.table-striped th div {
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  color: #b2b7ba;
}
.bootstrap-table .fixed-table-container.fixed-height .table.striped-table thead th,
.bootstrap-table .fixed-table-container.fixed-height:not(.has-footer) {
  border-bottom: 0px solid transparent;
}
.bootstrap-table {
  padding: 0px;
}
#portfolio .bootstrap-table.bootstrap5 {
  box-shadow: 0px 4px 4px #e6f2f2;
  border-radius: 30px;
}
.rounded-shadow > tbody > tr:first-child > td:first-child {
  border-top-left-radius: 32px;
}
.rounded-shadow > tbody > tr:first-child > td:last-child {
  border-top-right-radius: 32px;
}
.rounded-shadow > tbody > tr:last-child > td:first-child {
  border-bottom-left-radius: 32px;
}
.rounded-shadow > tbody > tr:last-child > td:last-child {
  border-bottom-right-radius: 32px;
}

.bootstrap-table .fixed-table-container .table.classic thead .th-inner.sortable.both::after,
.bootstrap-table .fixed-table-container .table.classic thead .th-inner.sortable.both.desc:after,
.bootstrap-table .fixed-table-container .table.classic thead .th-inner.sortable.both.asc:after {
  content: '\f0d7';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  position: absolute;
  right: 20px;
  color: #545454;
  font-size: 14px;
  top: 50%;
  transform: translateY(-50%);
}
.bootstrap-table .fixed-table-container .table.classic thead .th-inner.sortable.both:after {
  content: '\f0dc';
  color: #bfbfbf;
}

.bootstrap-table .fixed-table-container .table.classic thead .th-inner.sortable.both.asc:after {
  content: '\f0d8';
}
.bootstrap-table .fixed-table-container .table.classic thead .th-inner.sortable.both {
  position: relative;
  background-image: none;
}
.table-striped > tbody > tr:nth-of-type(2n + 1) > * {
  --bs-table-bg: #f9f9f9;
}
.table > :not(caption) > * > * {
  box-shadow: none;
}
td[style*='20%'],
th[style*='20%'] {
  min-width: 270px;
}
td .d-flex > svg {
  flex-shrink: 0;
}
