::-webkit-scrollbar {
  background: #f6f6f7;
  border-radius: 8px;
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: var(--green-50);
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--green);
}
* {
  scrollbar-width: thin;
  scrollbar-color: var(--green-50) #f6f6f7;
}
