:root {
  --bs-body-font-size: 14px;
  --primary-header-color: #303030;
  --second-header-color: #ffffff;
  --primary-link-color: #ffffff;
  --input-green: #2c8e30;
  --bs-link-hover-color: #2c8e30;
  --green: #39a935;
  --green-50: #9cd49a;
  --green-20: rgba(57, 169, 53, 0.2);
  --bs-body-color: #19202b;
  --dark-navy: #010418;
  --black-50: #868b91;
  --black-10: #e8e9ea;
  --black-1: #f9f9f9;

  --bs-table-striped-color: #e8e9ea;
  --bs-table-striped-color: #19202b;

  --main-font: 'Inter', 'Roboto', sans-serif;

  --main-margin: 20px;
}
