.mw-1000 {
  max-width: 1000px;
}

.image > .box {
  position: relative;
  overflow: hidden;
  width: 96px;
  height: 96px;
  transition: all 0.5s linear;
  float: left;
  flex-shrink: 0;
  & > img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 98px;
    height: 98px;
    -o-object-fit: cover;
    object-fit: cover;
    transition: all 0.5s linear;
  }
}

.drop-area.full {
  width: 300px;
  height: 106px;
  border: 1px solid var(--green-50);
  &.invisible {
    height: 0px;
    border: 0px;
  }
}
.w-525 {
  max-width: 550px;
  @media screen and (max-width: 992px) {
    max-width: unset;
    margin-left: 12px;
  }
}
#detailsTabsContent #details > .justify-content-between > div {
  max-width: 520px;
  padding: 0px;
  @media screen and (max-width: 992px) {
    max-width: unset;
    margin-left: 12px;
  }
}

.empty-field {
  min-height: 88px;
  background: #f5f5f5;
  color: var(--black-50);
}

.green-icon {
  fill: var(--green);
}
.total {
  background: #f7f7f7;
  border-radius: 20px;
  padding: 10px 22px;
  min-height: 45px;
}

.transaction-info-block {
  border: 1px solid rgba(57, 169, 53, 0.2);
  border-radius: 4px;
  padding: 24px 16px;
  margin: 0 0 24px;
  & > p:last-child {
    margin-bottom: 0px !important;
  }
  &:last-child {
    margin-bottom: 0px;
  }
}
.block-day:not(:last-child) {
  margin-bottom: 24px;
}
.log-line {
  color: #000;
  .text-green-50 {
    margin-right: 4px;
  }
  &:not(:last-child)::after {
    content: '';
    width: 1px;
    height: 24px;
    display: block;
    background-color: var(--green-50);
    margin: 8px 1px 8px;
  }
}
.text-green-50 {
  color: var(--green-50);
}

.green-scroll {
  max-height: calc(100vh - 400px);
  overflow: auto;
}
